body {background: #ffcc66;}

section {background: #CEF6F5;
width: 90%;
float: left;
display: inline-flexbox;
max-height: 85%;
margin: 2%;
overflow: auto;
border-radius: 3px;
padding: 0;}

img {border-radius: 90%; } 
img {width: 135px;} 
img {height: 100px;}
img {border: #000000; } 
img {border: 5px solid}

p {color: #08088A;}
p {font-size: 1,5em;}
p {font-family: Arial, Helvetica, sans-serif}

main {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

header {width: 100%;
    background: #ffff99;
        text-align: center; 
    }

footer {width: 100%;
    background:#ffff99;
    font-size: 0,75em;
    clear: both; 
    }

h1 {background: #ffff99;
text-align: center;
}

ul { list-style-type: none;
    text-align: center;
    margin: 0%;
    padding: 0%;
 }

 li {display: inline;
text-align: center;
padding: 5%;
font-size: 2em;
margin: 0%;
font-size: 2em; }

 li:hover {
     cursor: pointer;
     text-decoration: underline;
 }

main { width: 60%;
float: right;
align-content: center;
margin-left: 15em;
}


div {
    background-color: #08088A;
    width: 20%;
    height: 50em;
    float: left;
    overflow: hidden;
    margin: 1%;
    padding: 1%;
}



.as1:hover {width: 15%; }
   
aside {
    width: 15%;
    float: left;
    overflow: auto;
    padding: 0em;
    margin: 2em;
    border-style: solid;
    border-radius: 1em;
    border-color: #000000;
    background-color: #99ffbb;
}

.wrapper {background-color: blue;
width: 80%;
float: right;
}


.navbar-bar {overflow: hidden;
width: 25%;
height: 30px;}

.navbar-bar:hover {position: absolute;
background-color: #08088A;
outline: none;
width: 20em;
height: 25em;}


/* Phone Design */
@media screen and (min-width: 36em)  {

    header { background-color: #344444;
        width:100%;
    height: 3em; }
    
    main { background-color: aquamarine;
         width:78%;
        height: 40em; }
    
    aside { background-color: chartreuse; 
        width:100;
        height: 30em;
    }

    } 


    /* Tablet Version */

@media (min-width: 62em) {

    main {
        width: 60%
    }
    
    li {
        margin-left: 7em;
    }
    
    section {
        width: 17em;
        height: 10em;
    }
    
    
    aside {
        width: 20%;
        height: 40em;
        padding: 1.5em;
        border: 1em;
    }
    
    
    
    h1 {
        width: 800px;
    }
    
    
    }
    


    /* DESKTOP Version */


@media (min-width: 90em) {


    main {
        width: 70%;
    }
    
    section {
        width: 20em;
        height: 25em;
        position: relative;
        
    }
    

    
    
    aside {
        width: 25%;
        height: 40em;
        padding: 1.5em;
        border: 1em;
    }
    
    
    li {
        margin-left: 1em;
        text-align: center;
       
    }
    
  
    
    h1 {
        width: 2000px;
        height: 15px;
    
        text-align: left;
       
    }
    
    
    }


    








    

