@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Syne+Mono&display=swap');

body {
	display: grid;
	grid-template-columns: 50% auto;
	grid-template-rows: auto auto;
    background: url(potion.jpg);
    color: white;
    font-size: 1em;
	font-family: 'Merienda One', monospace;
}


header {
	grid-column: span 2;
	background-color: #573342;
	text-align: center;
}

h1 {
	text-align: center;
}

p {
	margin-left: 20px;
}

#form {
	border: solid white;
	margin: 1em;
	border-width: 10px;
}

h2 {
	text-align: center;
	font-size: 1.7em;
}

#slider {
	display: grid;
	grid-template-columns: auto auto;
}

progress {
	height:3em;
    width: 16em;
}

input[type="number"] {
	width: 5em;

 }

 h3 {left: 50%;
	transform: translate(-50%);
	position: absolute;
	bottom: 0;
	font-size: 1,5em;
 }

 #bill {
	 position: relative;
	 border: solid white;
	 border-width: 10px;
	 margin: 1em;
	 height: 88%;
 }

 #recipe {
	 font-size: 18px;
	 padding: 20px;
 }

 #showDesc {
	font-size: 18px;
	padding: 20px;
}

#displayPrice {
	font-size: 18px;
	padding: 20px;
}

 #description {
	font-size: 18px;
	padding: 20px;
}

#Potion, #Explanation, #Effect, #Period {
	border-color: #d988c4;
	border-width: 5px;
}

#Extras, #Amount {
	border-color: #e8c5c5;
	border-width: 5px;
} 

#Temperature, #Duration  {
	border-color: #d68579;
	border-width: 5px;
}

#Intensity, #Texture, #Color {
	border-color: #dcb58f;
	border-width: 5px;
}

#Color {
	margin-bottom: 1%;
}

#showAll {
	font-size: 1em;
	background-color: rgb(92, 23, 23);
	color: white;
	margin-left: 185px;
	padding: 8px;
	border-color: black;
	border-width: 5px;
	font-family: 'Merienda One', monospace;
}

#resetOrder {
	font-size: 1em;
	background-color: rgb(92, 23, 23);
	color: white;
	padding: 8px;
	border-color: black;
	border-width: 5px;
	font-family: 'Merienda One', monospace;
}

#sendOrder { 
font-size: 1em;
	background-color: rgb(92, 23, 23);
	color: white;
	padding: 8px;
	margin: 10px;
	border-color: black;
	border-width: 5px;
	font-family: 'Merienda One', monospace;
}

#showAllOrders {
	font-size: 1em;
	background-color: rgb(92, 23, 23);
	color: white;
	padding: 8px;
	border-color: black;
	border-width: 5px;
	font-family: 'Merienda One', monospace;
}

#subButtons {
	display: flex;
	justify-content: center;
	align-items: center;
}
